<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artists</title>
    <link rel="stylesheet" href="/web/css/artists.css">
</head>
<body>
    
    <p><a class="search" href="/search">Search</a></p>
    <p><a class="filters" href="/filters">Filters</a></p>
    <h1>Artists</h1>
    <ul>
        {{ range .Artists }}
        <li>
            <h2>{{ .Name }}</h2>
            <img src="{{ .Image }}" alt="Image of {{ .Name }}" width="150">
            <p>Members:</p>
            <ul>
                {{ range .Members }}
                <li>{{ . }}</li>
                {{ end }}
            </ul>
            <p>Location: {{ .Locations }}</p>
            <p>Dates: {{ range .Dates }} {{ . }}, {{ end }}</p>
        </li>
        {{ else }}
        <p>No artists found.</p>
        {{ end }}
    </ul>
</body>
</html>